
/*-- scss:defaults --*/
// Base document colors
$primary: #e2a348;
$body-bg: #ffffff;
$body-color: #000000;
$link-color: #e2a348;
$navbar-bg: #325c3f;
$navbar-fg: #ffffff;

/*-- scss:rules --*/
// Add any custom CSS rules here
.navbar-title {
  color: #e2a348;
}
