/*-- scss:defaults --*/
// Base document colors
//$primary: #E2A348;
//$body-bg: #ffffff;
//$body-color: #333333;
//$link-color: #E2A348;
//$navbar-bg: #0f5e3c; 
//$navbar-fg: #ffffff;

/*-- scss:rules --*/

// Navbar title
.navbar-brand,
.navbar-brand:link,
.navbar-brand:visited {
  color: #ff6600 !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffaa00 !important;
  text-decoration: none;
}


.navbar-toggler {
  border-color: transparent !important;
  background-color: transparent !important;
}


/* Change Hamburger Menu Color on Mobile */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='%23ff6600' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
  </svg>") !important;
}

/* Active item in the index (left sidebar) */
.sidebar .active,
.sidebar .active a {
  background-color: #ffffff;   /* White background */
  color: #e2a348 !important;   /* Orange text */
  font-weight: bold;
}

.sidebar .active a:hover {
  background-color: #f0f0f0;   /* Light gray */
  color: #e2a348;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1em;
  border-radius: 8px;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Ensure link colors remain consistent */
//body a,
//body a:hover {
//  color: #e2a348 !important;
//}
