/*-- scss:defaults --*/
// Base document colors
$primary: #E2A348;
$body-bg: #333333;
$body-color: #ffffff;
$link-color: #E2A348;
$navbar-bg: #0f5e3c;
$navbar-fg: #333333;

/*-- scss:rules --*/
// Add any custom CSS rules here
.navbar-title {
  color: #E2A348;
}


/* Highlight the current section in the index */
.sidebar .active,
.sidebar .active a {
  background-color: #333333;  /* Accent color */
  color: #E2A348;              /* Text color */
  font-weight: bold;
}

.sidebar .active a:hover {
  background-color: #e2a348;  /* Slightly darker accent */
}
