/*-- scss:defaults --*/
// Base document colors
$primary: #FDB54D;
$body-bg: #333333;
$body-color: #ffffff;
$link-color: #FDB54D;
$navbar-bg: #0f5e3c;
$navbar-fg: #333333;

/*-- scss:rules --*/
// Add any custom CSS rules here
.navbar-title {
  color: #FDB54D;
}