/*-- scss:defaults --*/
// Base document colors
$primary: #e2a348;
$body-bg: #325c3f;
$body-color: #ffffff;
$link-color: #e2a348;
$navbar-bg: #2a4732;
$navbar-fg: #ffffff;

/*-- scss:rules --*/
// Add any custom CSS rules here
.navbar-title {
  color: #e2a348;
}